$secondary: #4ea028;
$primary: #eeb430;
$yellowish-dark: #252524;
$dark: #29282e;
$white: #ffffff;
$dark-light: #bdc3c7;
$outfit-card-color: #23211F;
$icon-btn-color-dark: #40403F;
$icon-btn-color-light: #949494;
$rgbacolor: rgba(255, 255, 255, 0.7);
$font-stack: 'Roboto';