@media (max-width: 768px) {
    nav#nav-mobile {
        display: none;
    }
    nav {
        display: flex;
        // css code
    }

    .side-menu {
        width: 50px;

        ul {
            li {
                padding: .4rem .6rem;

                a {
                    i {
                        display: block;
                        font-size: 1.8rem;
                    }

                    span {
                        display: none;
                    }
                }
            }

            li:hover {
                padding: .45rem .8rem;
            }
        }
    }

    main {
        .main-content {
            margin-left: 50px;
        }
    }
}